*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

tml,
body,
#root {
  height: 100%;
}

.App {
  height: 100%;
  padding: 20px 24px;
}

.container {
  border: 1px solid #e0e0e0;
  padding: 8px 12px;
  height: 100%;
}

.sso-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

@media only screen and (max-width: 768px) {
  .sso-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.sso-container .sso-item {
  position: relative;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.sso-container .sso-item:hover {
  border-color: #e0e0e0;
  box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
}

.sso-container .sso-item .item-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sso-container .sso-item .item-image img {
  height: 100%;
  object-fit: contain;
}

.sso-container .sso-item h2 {
  font-weight: 600;
  font-size: 0.9em;
  font-family: "Montserrat", sans-serif;
  color: #393a4f;
}

.sso-container .sso-item .drag-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 8px 0px 0px;
  color: #e0e0e0;
  font-size: 0.9em;
}

.sso-container .sso-item .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(33% + 8px);
}

.sso-container .sso-item .hover:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: purple;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 238203px;
}

.sso-container .sso-item .hover.hover-left:after {
  left: 1px;
}

.sso-container .sso-item .hover.hover-right:after {
  right: 1px;
}

.sso-container .sso-item .hover.is-active:after {
  opacity: 1;
}

.sso-container .sso-item .hover.hover-left {
  left: -8px;
}

.sso-container .sso-item .hover.hover-right {
  right: -8px;
}
